body {
    background-color: #ccc;
}
body > div.container {
    background-color: #eee;
    padding-bottom: 20px;
    border:1px solid #bbb;
}
.form_basic-collection,
.element-item {
    background-color: #ffffff;
    margin-top:20px;
    margin-top:0px;
    padding: 0 20px;
    padding-bottom:20px;
    border: 1px solid #ddd;
}
fieldset[class$='-item']:not(.element-item) {
    background-color:#eee;
    padding: 0 20px;
    border: 1px dashed #c2c2c2;
    margin-bottom: 0px;
}
fieldset[class$='-item'] > legend {
    position: relative;
    top: 21px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.validator-item > legend,
.attribute-item > legend {
    border-top: 1px dashed #ccc;
}
.element-item > legend {
    margin-bottom: 30px;
}
.element-item > button {
    margin-top:10px;
    margin-left:20px;
    /*float:right;*/
}

.container-element-collection {
    margin-bottom:20px;
}

/**
 * FormCreate Legend
 */
.element-collection,
.element-item > legend {
    border-bottom: 2px solid #e5e5e5;
}
fieldset[class$='-collection'] > legend {
    margin-bottom:10px;
}
fieldset[class$='-collection'] > legend,
fieldset[class$='-item'] > legend{
    font-weight:700;
}
.form-item > legend,
.element-collection > legend {
    font-size:1.7em;
}

fieldset[class$='-collection']:not(.container-element-collection) {
    margin:0px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.attribute-collection > .attribute-item,
.filter-collection > .filter-item,
.validator-collection > .validator-item {
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 1px dashed #ccc;
}
.form-control {
    font-weight:400;
}
.element-count {
    color: #990000;
}