<noscript>
    <div class="alert alert-danger">
        <p><strong>Warning!</strong> The JavaScript support must be enabled.</p>
    </div>
</noscript>
<script>
    $(document).ready(function() {
        $('select').multiselect({
            //enableFiltering: true,
            //enableCaseInsensitiveFiltering: false
        });
    });
</script>
<?php
if(array_key_exists('created',$this->forms)){
    ?>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Form
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <?php
                    $created = $this->forms['created'];

                    $created->prepare();

                    echo $this->form()->openTag($created);

                    echo $this->form()->render($created);

                    echo $this->form()->closeTag();
                    ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<?php


}
?>
<button class="btn btn-default" data-toggle="collapse" data-target="#demo">Form Composer</button>

<div id="demo" class="collapse">

<?php

$form = $this->forms['create_form'];

//var_dump($form);
$form->prepare();

echo $this->form()->openTag($form);
echo $this->form()->render($form);
echo $this->form()->closeTag();

?>
</div>
