<noscript>
    <div class="alert alert-danger">
        <p><strong>Warning!</strong> The JavaScript support must be enabled.</p>
    </div>
</noscript>
<script>
    $(document).ready(function() {
        $('select').multiselect({
            //enableFiltering: true,
            //enableCaseInsensitiveFiltering: false
        });
    });
</script>


<?php


                                        /* @var Zend\Form\Form $form */
                                        $form = $this->forms['create_form'];

                                        $form->prepare();

                                        echo $this->form()->openTag($form);

                                        echo $this->form()->render($form);

                                        echo $this->form()->closeTag();


